[submodule "FallingSandGame/Vendor/spdlog"]
	path = FallingSandGame/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FallingSandGame/Vendor/GLFW"]
	path = FallingSandGame/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "FallingSandEngine/Vendor/GLFW"]
	path = FallingSandEngine/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "FallingSandEngine/Vendor/imgui"]
	path = FallingSandEngine/Vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "FallingSandEngine/Vendor/glm"]
	path = FallingSandEngine/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "FallingSandEngine/Vendor/spdlog"]
	path = FallingSandEngine/Vendor/spdlog
	url = https://github.com/gabime/spdlog
